@use "../abstract/mixins" as *;
@use "../vendors/mixins-vendor" as *;
@use "../base/root" as *;

.hero {
  @extend .width--full;
  @extend .aspect--16-9;
  height: 100vh;
  position: relative;
  @include background-image(
    "/images/hero.jpg",
    rgba(0, 0, 0, 0.5) rgba(40, 102, 100, 0.8),
    right
  );

  &__header {
    @include center(all);
    @extend .text--larger;
    color: $white;
    text-transform: uppercase;
    height: 100%;
    @include only(1) {
    
      @include loadify(0.2s);
      
      @extend .text--larger;
    }

  }
}
.teams-form {
  @extend .grid--auto-2;
  @extend .gap--s;
}

.team-cards {
  @extend .grid--auto-3;
}
.team-card {
  @include background("primary");
  margin: var(--space-m);
  @extend .box-shadow--m;
  @extend .rounded--s;

  &__image {
    width: 100%;
    @extend .center--all;
  }
  &__image img {
    width: 100%;
  }
  &__content {
    padding: var(--space-s) var(--space-m);
  }
  
  &__link-container {
    position: relative;
    @include center(vertical);
    @extend .pad--s;
  }
  &__link {
    @extend .box-shadow--m;
    @extend .rounded--s;
    @extend .pad--xs;
    margin: var(--space-xs) 0;
    font-size: var(--text-m);
    font-weight: bold;
    @include stretched-link(before);
    &:after {
      content: "\2192";
    }
  }
}

.scissor {
  @include background;
  height: 300px;
  @include scissors(50% 50% 0 0);
}

.scissor__header {
  @extend .center--all;
  height: 100%;
  @extend .width--full;
  text-transform: capitalize;
  @include after("data-position") {
    color: $accent;
  }
}

.list-wrapper {
  @extend .grid--auto-6;
  gap: var(--space-m);
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--space-s);

  background: var(--primary);
  font-size: var(--text-l);
  color: var(--white);
  font-weight: bold;
  @include only(1) {
    background: var(--secondary);
    @include loadify(0.2s);
  }
  @include only(2) {
    background: var(--primary);
    @include loadify(0.4s);
  }
  @include only(3) {
    background: var(--secondary);
    @include loadify(0.6s);
  }
  @include only(4) {
    background: var(--primary);
    @include loadify(0.8s);
  }
  @include only(5) {
    background: var(--secondary);
    @include loadify(1s);
  }
  @include only(6) {
    background: var(--primary);
    @include loadify(1.2s);
  }
}

.this-table-sucks {
  @include table("normal", $tbody-bg: $white, $thead-bg: $secondary);

  & thead tr {
    @include only(1) {
      background: $primary;
      @include loadify(0.1s);
    }
  }
  & thead th {
    @include only(1) {
      @include loadify(0.4s);
    }
    @include only(2) {
      @include loadify(0.5s);
    }
    @include only(3) {
      @include loadify(0.6s);
    }
    @include only(4) {
      @include loadify(0.7s);
    }
    @include only(5) {
      @include loadify(0.8s);
    }
    @include only(6) {
      @include loadify(0.9s);
    }
  }
}
