@charset "UTF-8";
$primary: var(--primary);
$primary-hover: var(--primary-hover);
$primary-ultra-light: var(--primary-ultra-light);
$primary-light: var(--primary-light);
$primary-medium: var(--primary-medium);
$primary-dark: var(--primary-dark);
$primary-ultra-dark: var(--primary-ultra-dark);
$primary-comp: var(--primary-comp);
$secondary: var(--secondary);
$secondary-hover: var(--secondary-hover);
$secondary-ultra-light: var(--secondary-ultra-light);
$secondary-light: var(--secondary-light);
$secondary-medium: var(--secondary-medium);
$secondary-dark: var(--secondary-dark);
$secondary-ultra-dark: var(--secondary-ultra-dark);
$secondary-comp: var(--secondary-comp);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$accent-ultra-light: var(--accent-ultra-light);
$accent-light: var(--accent-light);
$accent-medium: var(--accent-medium);
$accent-dark: var(--accent-dark);
$accent-ultra-dark: var(--accent-ultra-dark);
$accent-comp: var(--accent-comp);
$base: var(--base);
$base-hover: var(--base-hover);
$base-ultra-light: var(--base-ultra-light);
$base-light: var(--base-light);
$base-medium: var(--base-medium);
$base-dark: var(--base-dark);
$base-ultra-dark: var(--base-ultra-dark);
$base-comp: var(--base-comp);
$white: var(--white);
$black: var(--black);
$alert-red: var(--alert-red);
$alert-green: var(--alert-green);
$shade: var(--shade);
$shade-hover: var(--shade-hover);
$shade-ultra-light: var(--shade-ultra-light);
$shade-light: var(--shade-light);
$shade-medium: var(--shade-medium);
$shade-dark: var(--shade-dark);
$shade-ultra-dark: var(--shade-ultra-dark);
$shade-comp: var(--shade-comp);
$primary-trans-10: var(--primary-trans-10);
$primary-trans-20: var(--primary-trans-20);
$primary-trans-40: var(--primary-trans-40);
$primary-trans-60: var(--primary-trans-60);
$primary-trans-80: var(--primary-trans-80);
$primary-trans-90: var(--primary-trans-90);
$primary-ultra-dark-trans-10: var(--primary-ultra-dark-trans-10);
$primary-ultra-dark-trans-20: var(--primary-ultra-dark-trans-20);
$primary-ultra-dark-trans-40: var(--primary-ultra-dark-trans-40);
$primary-ultra-dark-trans-60: var(--primary-ultra-dark-trans-60);
$primary-ultra-dark-trans-80: var(--primary-ultra-dark-trans-80);
$primary-ultra-dark-trans-90: var(--primary-ultra-dark-trans-90);
$primary-light-trans-10: var(--primary-light-trans-10);
$primary-light-trans-20: var(--primary-light-trans-20);
$primary-light-trans-40: var(--primary-light-trans-40);
$primary-light-trans-60: var(--primary-light-trans-60);
$primary-light-trans-80: var(--primary-light-trans-80);
$primary-light-trans-90: var(--primary-light-trans-90);
$secondary-trans-10: var(--secondary-trans-10);
$secondary-trans-20: var(--secondary-trans-20);
$secondary-trans-40: var(--secondary-trans-40);
$secondary-trans-60: var(--secondary-trans-60);
$secondary-trans-80: var(--secondary-trans-80);
$secondary-trans-90: var(--secondary-trans-90);
$secondary-ultra-dark-trans-10: var(--secondary-ultra-dark-trans-10);
$secondary-ultra-dark-trans-20: var(--secondary-ultra-dark-trans-20);
$secondary-ultra-dark-trans-40: var(--secondary-ultra-dark-trans-40);
$secondary-ultra-dark-trans-60: var(--secondary-ultra-dark-trans-60);
$secondary-ultra-dark-trans-80: var(--secondary-ultra-dark-trans-80);
$secondary-ultra-dark-trans-90: var(--secondary-ultra-dark-trans-90);
$secondary-light-trans-10: var(--secondary-light-trans-10);
$secondary-light-trans-20: var(--secondary-light-trans-20);
$secondary-light-trans-40: var(--secondary-light-trans-40);
$secondary-light-trans-60: var(--secondary-light-trans-60);
$secondary-light-trans-80: var(--secondary-light-trans-80);
$secondary-light-trans-90: var(--secondary-light-trans-90);
$accent-trans-10: var(--accent-trans-10);
$accent-trans-20: var(--accent-trans-20);
$accent-trans-40: var(--accent-trans-40);
$accent-trans-60: var(--accent-trans-60);
$accent-trans-80: var(--accent-trans-80);
$accent-trans-90: var(--accent-trans-90);
$accent-ultra-dark-trans-10: var(--accent-ultra-dark-trans-10);
$accent-ultra-dark-trans-20: var(--accent-ultra-dark-trans-20);
$accent-ultra-dark-trans-40: var(--accent-ultra-dark-trans-40);
$accent-ultra-dark-trans-60: var(--accent-ultra-dark-trans-60);
$accent-ultra-dark-trans-80: var(--accent-ultra-dark-trans-80);
$accent-ultra-dark-trans-90: var(--accent-ultra-dark-trans-90);
$accent-light-trans-10: var(--accent-light-trans-10);
$accent-light-trans-20: var(--accent-light-trans-20);
$accent-light-trans-40: var(--accent-light-trans-40);
$accent-light-trans-60: var(--accent-light-trans-60);
$accent-light-trans-80: var(--accent-light-trans-80);
$accent-light-trans-90: var(--accent-light-trans-90);
$base-trans-10: var(--base-trans-10);
$base-trans-20: var(--base-trans-20);
$base-trans-40: var(--base-trans-40);
$base-trans-60: var(--base-trans-60);
$base-trans-80: var(--base-trans-80);
$base-trans-90: var(--base-trans-90);
$base-ultra-dark-trans-10: var(--base-ultra-dark-trans-10);
$base-ultra-dark-trans-20: var(--base-ultra-dark-trans-20);
$base-ultra-dark-trans-40: var(--base-ultra-dark-trans-40);
$base-ultra-dark-trans-60: var(--base-ultra-dark-trans-60);
$base-ultra-dark-trans-80: var(--base-ultra-dark-trans-80);
$base-ultra-dark-trans-90: var(--base-ultra-dark-trans-90);
$base-light-trans-10: var(--base-light-trans-10);
$base-light-trans-20: var(--base-light-trans-20);
$base-light-trans-40: var(--base-light-trans-40);
$base-light-trans-60: var(--base-light-trans-60);
$base-light-trans-80: var(--base-light-trans-80);
$base-light-trans-90: var(--base-light-trans-90);
$white-trans-10: var(--white-trans-10);
$white-trans-20: var(--white-trans-20);
$white-trans-40: var(--white-trans-40);
$white-trans-60: var(--white-trans-60);
$white-trans-80: var(--white-trans-80);
$white-trans-90: var(--white-trans-90);
$black-trans-10: var(--black-trans-10);
$black-trans-20: var(--black-trans-20);
$black-trans-40: var(--black-trans-40);
$black-trans-60: var(--black-trans-60);
$black-trans-80: var(--black-trans-80);
$black-trans-90: var(--black-trans-90);
$shade-trans-10: var(--shade-trans-10);
$shade-trans-20: var(--shade-trans-20);
$shade-trans-40: var(--shade-trans-40);
$shade-trans-60: var(--shade-trans-60);
$shade-trans-80: var(--shade-trans-80);
$shade-trans-90: var(--shade-trans-90);
$shade-ultra-dark-trans-10: var(--shade-ultra-dark-trans-10);
$shade-ultra-dark-trans-20: var(--shade-ultra-dark-trans-20);
$shade-ultra-dark-trans-40: var(--shade-ultra-dark-trans-40);
$shade-ultra-dark-trans-60: var(--shade-ultra-dark-trans-60);
$shade-ultra-dark-trans-80: var(--shade-ultra-dark-trans-80);
$shade-ultra-dark-trans-90: var(--shade-ultra-dark-trans-90);
$shade-light-trans-10: var(--shade-light-trans-10);
$shade-light-trans-20: var(--shade-light-trans-20);
$shade-light-trans-40: var(--shade-light-trans-40);
$shade-light-trans-60: var(--shade-light-trans-60);
$shade-light-trans-80: var(--shade-light-trans-80);
$shade-light-trans-90: var(--shade-light-trans-90);
$shade-white: var(--shade-white);
$shade-black: var(--shade-black);
$green: var(--alert-green);
$red: var(--alert-red);
$text-xs: var(--text-xs);
$text-s: var(--text-s);
$text-m: var(--text-m);
$text-l: var(--text-l);
$text-xl: var(--text-xl);
$text-xxl: var(--text-xxl);
$h6: var(--h6);
$h5: var(--h5);
$h4: var(--h4);
$h3: var(--h3);
$h2: var(--h2);
$h1: var(--h1);
$space-xs: var(--space-xs);
$space-s: var(--space-s);
$space-m: var(--space-m);
$space-l: var(--space-l);
$space-xl: var(--space-xl);
$space-xxl: var(--space-xxl);
$section-space-xs: var(--section-space-xs);
$section-space-s: var(--section-space-s);
$section-space-m: var(--section-space-m);
$section-space-l: var(--section-space-l);
$section-space-xl: var(--section-space-xl);
$section-space-xxl: var(--section-space-xxl);
$width-xs: var(--width-xs);
$width-s: var(--width-s);
$width-m: var(--width-m);
$width-l: var(--width-l);
$width-xl: var(--width-xl);
$width-xxl: var(--width-xxl);
$width-vp-max: var(--width-vp-max);
$width-50: var(--width-50);
$width-full: var(--width-full);
$radius-xs: var(--radius-xs);
$radius-s: var(--radius-s);
$radius-m: var(--radius-m);
$radius-l: var(--radius-l);
$radius-xl: var(--radius-xl);
$radius-xxl: var(--radius-xxl);
$radius-50: var(--radius-50);
$radius-circle: var(--radius-circle);
$section-padding-x: var(--section-padding-x);
$section-gutter: var(--section-gutter);
$btn-border-size: var(--btn-border-size);
$outline-btn-border-size: var(--outline-btn-border-size);
$btn-pad-y: var(--btn-pad-y);
$btn-pad-x: var(--btn-pad-x);
$btn-radius: var(--btn-radius);
$btn-text-transform: var(--btn-text-transform);
$btn-text-style: var(--btn-text-style);
$btn-letter-spacing: var(--btn-letter-spacing);
$btn-line-height: var(--btn-line-height);
$btn-text-decoration: var(--btn-text-decoration);
$btn-weight: var(--btn-weight);
$btn-width: var(--btn-width);
$primary-h: var(--primary-h);
$primary-s: var(--primary-s);
$primary-l: var(--primary-l);
$secondary-h: var(--secondary-h);
$secondary-s: var(--secondary-s);
$secondary-l: var(--secondary-l);
$accent-h: var(--accent-h);
$accent-s: var(--accent-s);
$accent-l: var(--accent-l);
$base-h: var(--base-h);
$base-s: var(--base-s);
$base-l: var(--base-l);
$shade-h: var(--shade-h);
$shade-s: var(--shade-s);
$shade-l: var(--shade-l);
$header-height: var(--header-height);
$offset: var(--offset);

